AddDefaultCharset utf-8

RewriteEngine on
# RewriteRule ^(yhdistys|tapahtumat|yhteys|kiitos|kirjaudu|yllapito|ilmoittaudu)/?$ index.php?s=$1 [NC]
# RewriteRule ^tapahtumat/nayta/([0-9]+) index.php?s=tapahtumat&nayta=1&tid=$1 [NC]
# RewriteRule ^tapahtumat/(tulevat|menneet) index.php?s=tapahtumat&tid=$1 [NC]
# RewriteRule ^yhdistys/hallitus/(kaikki|testi) index.php?s=yhdistys&yid=hallitus&nayta=$1 [NC]
# RewriteRule ^yhdistys/arkisto/tiedosto/([0-9]+) /arkisto/lataa.php?fid=$1 [NC]
# RewriteRule ^yhdistys/(esittely|hallitus|saannot|arkisto) index.php?s=yhdistys&yid=$1 [NC]

# Vanhojen sivujen uudelleenohjaukset
RewriteRule ^etusivu/?$ https://kayttajanystavat.fi/ [R=301,NC,L]
RewriteRule ^liity/?$ https://docs.google.com/forms/d/e/1FAIpQLSen-C_S2BSp5UflfXDjYZIMNvKm-M-zcIghHOcTrc5gKcXjVw/viewform [R=302,NC,L]
RewriteRule ^rekisteriseloste/?$ https://docs.google.com/document/d/e/2PACX-1vT5f8e4J-AVPXAe3Pu7Ilu4onNG04G9XogyDyTn21uwxT3i9bJX0dqQ2i4JNpxWYx42ST5cziZk9WXA/pub [R=302,NC,L]

# Eventbrite-token piiloon
RewriteRule eventbrite\.token - [F,NC,L]

# Listausesto
IndexIgnore *
