@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

* {
  /*väripaletti*/

  --main-color: #399ACA;
  --secondary-color: #9E315E
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 18px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-color);
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
font-family: 'Montserrat', sans-serif;

}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-color);
  font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}


/* INFO */


.info > h1 {
  color: var(--secondary-color);
}
