@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

html {
  font: 10px/1.5 'Lato', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  color: #399aca;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.4rem;
  color: #9e315e;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  color: #9e315e;
}

a {
  font-weight: bold;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* INFO */
.info, .verkostoidu {
  padding: 1rem 5%;
}
.info {
  text-align: center;
  font-size: 2rem;
  color: #9e315e;
}
.verkostoidu h2 {
  color: #9e315e;
}

.events {
  background-color: #399aca;
  color: #fff;
  padding: 1rem 5%;
}

.eventcard {
  text-align: center;
  color: white;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background-color: #9e315e;
  color: #fff;
  padding: 1em;
  border-radius: 1em;
  font-family: montserrat;
}

.liity {
  background-color: #399aca;
  padding: 1rem 5%;
  padding-bottom: 3rem;
  color: white;
  text-align: center;
}

.moreinfo {
  padding: 1rem 5%;
}

.yht {
  background-color: #399aca;
  padding: 1rem 5%;
  padding-bottom: 3rem;
  color: white;
  text-align: center;
}
.yht ul {
  list-style: none;
  padding: 0;
}
.yht > .somef > a > img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}
